.studentCard {
    display: flex;
    padding: 10px;
    border-bottom: 2px solid #EFEFEF;

    &__profilePic {
        margin: 8px;
        // with SASS can nest and won't conflict with anything else
        img {
            width: 100px;
            height: 100px;
            border: 2px solid #EFEFEF;
            border-radius: 50%;
        }
    }

    &__info {
        margin-left: 20px;
    }

    // studentCard targets whole element and then takes __name since it's nested under studentCard
    &__name {
        font-size: 32px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 5px;

    }

    &__details {
        padding-left: 15px;
        font-size: 15px;
        color: #858585;
        line-height: 20px;
    }

    // > * {
    //     margin-bottom: 8px;
    // }

}