@import '../../designUtils/colors';

.studentList {
    width: 600px;
    //if using three values below the last value is implied to be auto
    margin: 10vh auto 10vh;
    height: 80vh;
    background-color: white;
    overflow-y: scroll;
    border-radius: 10px;
    box-shadow: 0px 2px 5px $shadow-gray;

    &__noResults {
        font-weight: 600;
        margin: 0 auto;
        display: table;
        padding: 200px 0;    
    }

    @media only screen and (max-width: 440px) {

        margin: 0;
        height: 100%;
        width: 100%;
        overflow-y: unset;
        box-shadow: unset;
        border-radius: 0;  
    }

}